<ion-header>
  <ion-toolbar>
    <ion-title>evermore</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/album-cover/9.jpeg">
  <ion-card-content class="ion-text-justify">
    <ion-card-subtitle>Ninth Studio Album</ion-card-subtitle>
    <ion-card-title>evermore
      </ion-card-title>
      <p>
        Evermore, her ninth studio album and sister record to Folklore, was released later that same year. With sales of over 200 million records worldwide, Swift is one of the best-selling music artists of all time. Her accolades include 10 Grammy Awards, an Emmy Award, seven Guinness World Records, 32 American Music Awards (the most wins by an artist), and 23 Billboard Music Awards (the most wins by a woman). She ranked eighth on Billboard's Greatest of All Time Artists Chart and, as a songwriter, was recognized in Rolling Stone's 100 Greatest Songwriters of All Time (2015). Swift has been included in various power rankings, such as Time's annual list of the 100 most influential people in the world (2010, 2015 and 2019) and Forbes Celebrity 100 (placing first in 2016 and 2019). She was named Woman of the Decade (2010s) by Billboard and Artist of the Decade (2010s) by the American Music Awards, and two of her albums featured in Rolling Stone's 500 Greatest Albums of All Time (2020).
      </p>
      <ion-list>
        <ion-list-header >
          <ion-label>
            List of Tracks in Order
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>willow</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>champagne problems</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>gold rush</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>tis the damn season</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>tolerate it</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>no body, no crime
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>happiness</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>dorothea
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>coney island ft. HAIM</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>ivy</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>cowboy like me</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>long story short</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>marjorie</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>closure</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>evermore ft. Bon Iver</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>right where you left me(Bonus Track)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/9.jpeg"/>
          </ion-avatar>
          <ion-label>it's time to go(Bonus Track)</ion-label>
        </ion-item>


        </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
