<ion-header>
  <ion-toolbar>
    <ion-title>songs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  *ngFor="let song of songs" (click)="selectedSong(song.title)">
    <!-- [routerLink]="['/','player','song.title']" -->
   
    <ion-avatar slot="start">
      <img src="{{song.img}}" />
    </ion-avatar>
    <ion-label>
      <h2>{{song.title}}</h2>
      <!-- <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p> -->
    </ion-label>
  </ion-item>
</ion-content>
