<ion-header>
  <ion-toolbar>
    <ion-title>RED</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="ion-text-justify">
        <ion-list>
          <ion-item lines="none" *ngFor="let song of songs" >
            <ion-avatar slot="start">
              <img src="{{song.img}}" />
            </ion-avatar>
            <ion-label>
              <h2>{{song.title}}</h2>
            </ion-label>
          </ion-item>
          </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
