<ion-header>
  <ion-toolbar>
    <ion-title>RED</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/album-cover/4.jpeg">
  <ion-card-content class="ion-text-justify">
    <ion-card-subtitle>Fourth Studio Album</ion-card-subtitle>
    <ion-card-title>RED
      </ion-card-title>
      <p>
        Swift's fourth studio album, Red (2012), experiments with various pop, rock, and electronic genres. It included the top-five singles "We Are Never Ever Getting Back Together", her first Billboard Hot 100 number-one hit, and "I Knew You Were Trouble". Swift's fourth studio album, , features 16 songs plus the bonus tracks, including a collaboration with Ed Sheeran. Each and every Tuesday leading up to the album's release, Swift released a new song from the album. In its debut week, Red sold approximately .
      </p>
      <ion-list>
        <ion-list-header >
          <ion-label>
            List of Tracks in Order
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>State of Grace</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>Red</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>Treacherous</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>I Knew You Were Trouble</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>All Too well</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>22</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>I Almost Do
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>We Are Never Ever Getting Back To</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>Stay Stay Stay</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>The Last Time(feat. Gary LightBo)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>Holy Ground</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>Sad Beautifil Tragic</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>The Lucky One</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>Everything Has Changed(feat. Ed Sheeran)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>Starlight</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>Begin Again</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>The Moment I Knew</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>Come Back...Be Here</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/4.jpeg"/>
          </ion-avatar>
          <ion-label>Girl At Home</ion-label>
        </ion-item>


        </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
