<ion-header>
  <ion-toolbar>
    <ion-title>Fearless</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

  <ion-card-content class="ion-text-justify">

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label> Jump Then Fall</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Untouchable</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Forever & Always(Piano Version)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Come in With the Rain</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>SuperStar</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>The Other Side of the Door</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Fearless</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Fifteen</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Love Story</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Hey Stephen</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>White Horse</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>You Belong With Me</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Breathe (ft.Colbie Caillat)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Tell Me Why</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>You're Not Sorry</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>The Wat I Loved You</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Forever & Always</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>The Best Day</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/2.jpeg"/>
          </ion-avatar>
          <ion-label>Change</ion-label>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
