<ion-header>
  <ion-toolbar>
    <ion-title>Reputation</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/album-cover/6.jpeg">
  <ion-card-content class="ion-text-justify">
    <ion-card-subtitle>Sixth Studio Album</ion-card-subtitle>
    <ion-card-title>Reputation
      </ion-card-title>
      <p>
        Three years after releasing her record-breaking , Swift annouced via social media that she would be releasing her sixth studio album, Reputation, on Nov. 10, 2017. With black and white cover art that featured Swift sporting her signature dark lip, slicked-back hair and a sweatshirt, the mock newspaper headlines and columns superimposed over part of her face gave a strong hint that she was about to address that had encompassed her life. The album reached No. 1 in 13 countries and its accompanying stadium run became of all time in the United States.
      </p>
      <ion-list>
        <ion-list-header >
          <ion-label>
            List of Tracks in Order
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>Ready Fot It?</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>End Game(feat. Ed Sheeran)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>I Did Something Bad</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>Don't Blame Me</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>Delicate</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>Look What You Made Me Do
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>So It Goes</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>Gorgeous
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>Getaway Car</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>King of My Heart</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>Dancing With Our Hands Tied</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>Dress</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>This Is Why We Can't Have Nice Things</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>Call it What You Want</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/6.jpeg"/>
          </ion-avatar>
          <ion-label>New Year's Day</ion-label>
        </ion-item>

        </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
