<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card routerLink="/card-about">
    <img src="assets/gallery/tspiano.jpg">
    <div class="card-title">Taylor Swift</div>
    <div class="card-subtitle">About</div>
  </ion-card>
  <ion-card routerLink="/card-new-rel">
    <img src="assets/gallery/tay3.gif">
    <div class="card-title">New Release</div>
    <div class="card-subtitle">2022</div>
  </ion-card>
</ion-content>