<ion-header>
  <ion-toolbar>
    <ion-title>folklore</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/album-cover/8.jpg">
  <ion-card-content class="ion-text-justify">
    <ion-card-subtitle>Eighth Studio Album</ion-card-subtitle>
    <ion-card-title>folklore
      </ion-card-title>
      <p>
        As black and white images of trees started dotting Taylor Swift's Instagram page in mid-July 2020, Swifties attempted to figure out what it all meant shortly before the singer-songwriter shocked her fans with a surprise — her eighth studio album, Folklore, "Before this year I probably would've overthought when to release this music at the 'perfect' time, but the times we're living in keep reminding me that nothing is guaranteed," she explained. "My gut is telling me that if you make something you love, you should just put it out into the world. That's the side of uncertainty I can get on board with.".Swift's indie folk and alternative rock eighth studio album, Folklore (2020), and its lead single, "Cardigan", made her the first act to debut atop both the Billboard 200 and Hot 100 simultaneously.
      </p>
      <ion-list>
        <ion-list-header >
          <ion-label>
            List of Tracks in Order
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>the 1</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>cardigan</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>the last great american dynasty</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>exile (feat. Bon Iver)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>my tears richochet</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>mirrorball
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>seven</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>august
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>this is me trying</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>illicit affairs</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>mad woman</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>epiphany</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>betty</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>peace</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>hoax</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/8.jpg"/>
          </ion-avatar>
          <ion-label>the lakes (bonus track)</ion-label>
        </ion-item>


        </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
