ion-content{
    font-family:'Poppins', sans-serif;
    --background:linear-gradient(#c277c9,#917bd3);
}
.content-div{
    background: white;
    width:100%;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    margin-top: 25px;
    padding-top: 30px;
    padding: 20px;
    padding-bottom: 50px;
    height: auto;
}
@media(min-width: 0px){
    .images{
        column-count: 1;
    }
}
@media(min-width: 620px){
    .images{
        column-count: 3;
    }
}