<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://www.nickiswift.com/img/gallery/taylor-swifts-eye-popping-2022-vmas-look-sends-fans-into-conspiracy-overdrive/l-intro-1661734822.jpg">
      </ion-avatar>
        <ion-label>
          <p>Hello,</p>
          <h3>Swiftie</h3>
        </ion-label>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  fullscreen={true}>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card routerLink="/album1">
          <img src="assets/album-cover/1.jpeg">
          <ion-card-header>
            <ion-card-subtitle>First Album</ion-card-subtitle>
            <ion-card-title>Taylor Swift</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card routerLink="/album2">
          <img src="assets/album-cover/2.jpeg">
          <ion-card-header>
            <ion-card-subtitle>Second Studio Album</ion-card-subtitle>
            <ion-card-title>Fearless</ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-slide>
<ion-slide><ion-card routerLink="/album3">
  <img src="assets/album-cover/3.jpeg">
  <ion-card-header>
    <ion-card-subtitle>Third Studio Album</ion-card-subtitle>
    <ion-card-title>Speak Now</ion-card-title>
  </ion-card-header>
</ion-card>
</ion-slide>
<ion-slide>
  <ion-card routerLink="/album4">
    <img src="assets/album-cover/4.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Forth Studio Album</ion-card-subtitle>
      <ion-card-title>Red</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card routerLink="/album5">
    <img src="assets/album-cover/5.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Fifth Studio Album</ion-card-subtitle>
      <ion-card-title>1989</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card routerLink="/album6">
    <img src="assets/album-cover/6.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Sixth Studio Album</ion-card-subtitle>
      <ion-card-title>Reputation</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card routerLink="/album7">
    <img src="assets/album-cover/7.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Seventh Studio Album</ion-card-subtitle>
      <ion-card-title>Lover</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card routerLink="/album8">
    <img src="assets/album-cover/8.jpg">
    <ion-card-header>
      <ion-card-subtitle>Eighth Studio Album</ion-card-subtitle>
      <ion-card-title>folklore</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card routerLink="/album9">
    <img src="assets/album-cover/9.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Ninth Studio Album</ion-card-subtitle>
      <ion-card-title>evermore</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card routerLink="/album10">
    <img src="assets/album-cover/11.jpg">
    <ion-card-header>
      <ion-card-subtitle>Tenth Studio Album</ion-card-subtitle>
      <ion-card-title>Midnights</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-slide>
</ion-slides>
  </div>

  <div class="container"  >

    <h2>Music</h2>
    <ion-item lines="none"  *ngFor="let song of songs" (click)="selectedSong(song.title)">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="musical-notes-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
							<h4>{{song.title}}</h4>
							<h6>{{song.subtitle}}</h6>
						</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

</ion-content>
