<ion-header>
  <ion-toolbar>
    <ion-title>Albums</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen={true}>
<ion-card routerLink="/album1">
  <img src="assets/album-cover/1.jpeg">
  <ion-card-header>
    <ion-card-subtitle>First Album</ion-card-subtitle>
    <ion-card-title>Taylor Swift</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Taylor Swift packed up her bags and moved to Nashville, Tennessee at the tender age of 14...
  </ion-card-content>
</ion-card>
<ion-card routerLink="/album2">
  <img src="assets/album-cover/2.jpeg">
  <ion-card-header>
    <ion-card-subtitle>Second Studio Album</ion-card-subtitle>
    <ion-card-title>Fearless</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <p> On Swift’s second album, Fearless (2008), she demonstrated...</p>
  </ion-card-content>
</ion-card>
<ion-card routerLink="/album3">
  <img src="assets/album-cover/3.jpeg">
  <ion-card-header>
    <ion-card-subtitle>Third Studio Album</ion-card-subtitle>
    <ion-card-title>Speak Now</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Swift wrote her third studio album, entirely by herself as the follow-up to Fearless...
  </ion-card-content>
</ion-card>
<ion-card routerLink="/album4">
  <img src="assets/album-cover/4.jpeg">
  <ion-card-header>
    <ion-card-subtitle>Forth Studio Album</ion-card-subtitle>
    <ion-card-title>Red</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Swift's fourth studio album, Red (2012), experiments with various pop...
  </ion-card-content>
</ion-card>
<ion-card routerLink="/album5">
  <img src="assets/album-cover/5.jpeg">
  <ion-card-header>
    <ion-card-subtitle>Fifth Studio Album</ion-card-subtitle>
    <ion-card-title>1989</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Named after the year she was born, Swift's fifth album 1989...
  </ion-card-content>
</ion-card>
<ion-card routerLink="/album6">
  <img src="assets/album-cover/6.jpeg">
  <ion-card-header>
    <ion-card-subtitle>Sixth Studio Album</ion-card-subtitle>
    <ion-card-title>Reputation</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Three years after releasing her record-breaking...
  </ion-card-content>
</ion-card>
<ion-card routerLink="/album7">
  <img src="assets/album-cover/7.jpeg">
  <ion-card-header>
    <ion-card-subtitle>Seventh Studio Album</ion-card-subtitle>
    <ion-card-title>Lover</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    With a new, lighter color palette making its way across the...
  </ion-card-content>
</ion-card>
<ion-card routerLink="/album8">
  <img src="assets/album-cover/8.jpg">
  <ion-card-header>
    <ion-card-subtitle>Eighth Studio Album</ion-card-subtitle>
    <ion-card-title>folklore</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    As black and white images of trees started dotting Taylor Swift's Insta...
  </ion-card-content>
</ion-card>
<ion-card routerLink="/album9">
  <img src="assets/album-cover/9.jpeg">
  <ion-card-header>
    <ion-card-subtitle>Ninth Studio Album</ion-card-subtitle>
    <ion-card-title>evermore</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Evermore, her ninth studio album and sister record to Folklore...
  </ion-card-content>
</ion-card>
<ion-card routerLink="/album10">
  <img src="assets/album-cover/11.jpg">
  <ion-card-header>
    <ion-card-subtitle>Tenth Studio Album</ion-card-subtitle>
    <ion-card-title>Midnights</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    ...
  </ion-card-content>
</ion-card>


</ion-content>
