<ion-header>
  <ion-toolbar>
    <ion-title>New Release</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../../assets/gallery/mid1.png">
    <ion-card-content>
      <ion-card-subtitle>New Album 2022</ion-card-subtitle>
      <ion-card-title>Midnights</ion-card-title>
        <p>
        </p>
        <p>
        </p>
        <p></p>
    </ion-card-content>
  </ion-card>
</ion-content>
