<ion-header>
  <ion-toolbar>
    <ion-title>Midnights</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/album-cover/11.jpg">
  <ion-card-content class="ion-text-justify">
    <ion-card-subtitle>Tenth Studio Album</ion-card-subtitle>
    <ion-card-title>Midnights
      </ion-card-title>
      <p>
        Midnights is the tenth studio album by American singer-songwriter Taylor Swift, released on October 21, 2022, via Republic Records. Announced at the 2022 MTV Video Music Awards, the album marks Swift's first body of new work since her 2020 alternative folk albums, Folklore and Evermore. Midnights is a concept album about nocturnal contemplations, written and produced by Swift with longtime collaborator Jack Antonoff. 
        Inspired by the "sleepless nights" of Swift's life, Midnights contains confessional yet cryptic lyrics, exploring anxiety, insecurity, self-criticism, self-awareness, insomnia, and self-confidence. Expanding on the synth-pop sound of Swift's previous pop records, the album experiments with electronica, dream pop, bedroom pop, and chill-out music styles. The songs are characterized by subtle grooves, vintage synthesizers, drum machine, and hip hop/R&B rhythms. Swift unveiled the track list on a TikTok series called Midnights Mayhem with Me from September 21 to October 7, 2022, and surprise-released seven bonus tracks three hours after the album's release.
      </p>
      <ion-list>
        <ion-list-header >
          <ion-label>
            List of Tracks in Order
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Lavander Haze</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Maroon</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Anti-Hero</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Snow on the Beach(feat. Lana Del Rey)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>You're on Your Own Kid
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Midnight Rain</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Question...?
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Vigilante Shit</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Bejeweled</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Labyrinth</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Karma</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Sweet Nothing</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Matermind</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>The Great War</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Bigger Than the Whole Sky</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Paris</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>High Fidelity</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Glitch</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Would've, Could've, Should've</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/11.jpg"/>
          </ion-avatar>
          <ion-label>Dear Reader</ion-label>
        </ion-item>

        </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
