<ion-header>
  <ion-toolbar>
    <ion-title>Taylor Swift</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/album-cover/1.jpeg">
  <ion-card-content class="ion-text-justify">
    <ion-card-subtitle>First Album</ion-card-subtitle>
    <ion-card-title>Taylor Swift
      </ion-card-title>
      <p>
        Taylor Swift packed up her bags and moved to Nashville,
        Tennessee at the tender age of 14 to pursue her love for country music.
        Two years later, she released her debut album, Taylor Swift ,
        which peaked at No. 5 on the Billboard 200 Chart. All five singles
        released from the album, including "Our Song" and "Teardrops on My Guitar,"
        were certified platinum by the RIAA.
      </p>
      <ion-list>
        <ion-list-header >
          <ion-label>
            List of Tracks in Order
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label> Tim McGraw</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label> Picture to Burn</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label>Teardrops on My Guitar</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label> A Place in this World</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label>Cold As You</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label>The Outside</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label>Tied Together with a Smile</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label>Stay Beautiful</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label>Should've Said No</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label> Mary's Song(Oh My My My)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label>Our Song</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label>I'm Only Me When I'm With You</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label>Invinsible</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/1.jpeg"/>
          </ion-avatar>
          <ion-label>A Perfectly Good Heart</ion-label>
        </ion-item>

      </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
