<ion-header>
  <ion-toolbar>
    <ion-title>Lover</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/album-cover/7.jpeg">
  <ion-card-content class="ion-text-justify">
    <ion-card-subtitle>Seventh Studio Album</ion-card-subtitle>
    <ion-card-title>Reputation
      </ion-card-title>
      <p>
        With a new, lighter color palette making its way across the singer-songwriter's social media beginning in early 2019, fans knew Swift was up to something — and hoped it was a new album. Clues were confirmed that April, when Swift revealed the first single , "ME," featuring the album's title hidden in the clip. In June, she announced , , would be released that August.
      </p>
      <ion-list>
        <ion-list-header >
          <ion-label>
            List of Tracks in Order
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>I Forgot That You Existed</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>Cruel Summer</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>Lover</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>The Man</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>The Archer</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>I Think He Knows
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>Miss Americana & The Heart Break Prince</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>Paper Rings
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>Cornelia Street</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>Death By A Thousand Cuts</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>London Boy</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>Soon You'll Get Better (feat. Dix)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>False God</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>You Need To Calm Down</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>Afterglow</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>ME! (feat. Brendon Urie)</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>It's Nice To Have A Friend</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/7.jpeg"/>
          </ion-avatar>
          <ion-label>Daylight</ion-label>
        </ion-item>


        </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
