<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://www.nickiswift.com/img/gallery/taylor-swifts-eye-popping-2022-vmas-look-sends-fans-into-conspiracy-overdrive/l-intro-1661734822.jpg">
      </ion-avatar>
        <ion-label>
          <p>Hello,</p>
          <h3>Swiftie</h3>
        </ion-label>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content  fullscreen={true}>
      <!-- Slider album -->

    <div class="slides ion-margin-bottom">
      <ion-slides [options]="slidesOptions">

      <!-- Speak Now 3 -->
  <ion-slide>
    <ion-card (click)="readSongsFromDataService('Speak Now')">
    <img src="assets/album-cover/3.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Third Studio Album</ion-card-subtitle>
      <ion-card-title>Speak Now</ion-card-title>
    </ion-card-header>
  </ion-card>
  </ion-slide>
      <!-- Red-4 -->
        <ion-slide>
          <ion-card (click)="readSongsFromDataService('Red')">
            <img src="assets/album-cover/4.jpeg">
            <ion-card-header>
              <ion-card-subtitle>Forth Studio Album</ion-card-subtitle>
              <ion-card-title>Red</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      <!-- folklore 8 -->
        <ion-slide>
          <ion-card (click)="readSongsFromDataService('folklore')">
            <img src="assets/album-cover/8.jpg">
            <ion-card-header>
              <ion-card-subtitle>Eighth Studio Album</ion-card-subtitle>
              <ion-card-title>folklore</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      <!-- midnights 10 -->
        <ion-slide>
          <ion-card routerLink="/album10" >
            <img src="assets/album-cover/11.jpg">
            <ion-card-header>
              <ion-card-subtitle>Tenth Studio Album</ion-card-subtitle>
              <ion-card-title>Midnights</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
  </ion-slides>
    </div>
  <!-- Songs List -->
  <div class="container">
    <h2>Music</h2>
  <ion-item lines="none" *ngFor="let song of topratedSong"  (click)="playSong(song.id,song.subtitle,song.imgpath,song.path)">

    <ion-thumbnail slot="start">
      <img src="{{song.imgpath}}" />
    </ion-thumbnail>
    <ion-label>
      <h2>{{song.id}}</h2>
      <h6>{{song.subtitle}}</h6>
    </ion-label>
  </ion-item>
</div>
<!-- full Player-->

<div class="ion-text-center" id="fullPlayer">
<div class="mini" >
<ion-buttons color="dark" slot="end">
<ion-button  (click)="minimize()">
<ion-icon name="chevron-down-outline" slot="icon-only"></ion-icon>
</ion-button>
</ion-buttons>
</div>
<!-- Minimize Icon -->
<img src="{{currImage}}" alt="" id="currImg">

<h2>
{{currTitle}}
</h2>
<p>
{{currSubtitle}}
</p>

<!-- Play Previous Button -->
<ion-button fill="clear" mode="ios" (click)="playPrev()">
<ion-icon name="play-skip-back-outline" style="font-size: 30px;"></ion-icon>
</ion-button>

<!-- Play Button -->
<ion-button fill="clear" mode="ios" *ngIf="!isPlaying" (click)="play()">
<ion-icon name="play" style="font-size: 40px;"></ion-icon>
</ion-button>

<!-- Pause Button -->
<ion-button fill="clear" mode="ios" *ngIf="isPlaying" (click)="pause()">
<ion-icon name="pause" style="font-size: 40px;"></ion-icon>
</ion-button>

<!-- Play Next Button -->
<ion-button fill="clear" mode="ios" (click)="playNext()">
<ion-icon name="play-skip-forward-outline" style="font-size: 30px;"></ion-icon>
</ion-button>

<ion-item lines="none">
  <ion-range #range (touchmove)="touchMove()" (touchend)="touchEnd()" (touchstart)="touchStart()"
  max="{{maxRangeValue}}" [(ngModel)]="currRangeTime">
  
  <ion-label slot="start">
    <ion-text>
      <b>
        {{currSecsText}}
      </b>
    </ion-text>
  </ion-label>
  
  <ion-label slot="end">
    <ion-text>
      <b>
        {{durationText}}
      </b>
    </ion-text>
  </ion-label>
  </ion-range>
  
  </ion-item>
  </div>
</ion-content>
<!-- miniPlayer -->
<div class="container2">
<ion-item  id="miniPlayer">
<ion-thumbnail slot="start" (click)="maximize()">
<img src="{{currImage}}" />
</ion-thumbnail>
<ion-label (click)="maximize()">
<h2>{{currTitle}}</h2>
<p>{{currSubtitle}}</p>
</ion-label>

<!-- Play Previous Button -->
<ion-button fill="clear" mode="ios" (click)="playPrev()" (click)="minimize()">
<ion-icon name="play-skip-back-outline" style="font-size:x-large;"></ion-icon>
</ion-button>
<!-- Play Button -->
<ion-button (click)="play()" mode="ios" fill="clear" *ngIf="!isPlaying">
<ion-icon name="play" style="font-size: x-large;"></ion-icon>
</ion-button>
<!-- Pause Button -->
<ion-button (click)="pause()" mode="ios" fill="clear" *ngIf="isPlaying">
<ion-icon name="pause" style="font-size: x-large;"></ion-icon>
</ion-button>
<!-- Play Next Button -->
<ion-button fill="clear" mode="ios" (click)="playNext()" (click)="minimize()">
<ion-icon name="play-skip-forward-outline" style="font-size:x-large;"></ion-icon>
</ion-button>
<!-- Cancel Song Button -->
<ion-button (click)="cancel()" mode="ios" fill="clear">
<ion-icon name="close" style="font-size: x-large;"></ion-icon>
</ion-button>

</ion-item>
</div>
