<ion-header>
  <ion-toolbar>
    <ion-title>1989</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-content class="ion-text-justify">
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Welcome To New York</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Blank Space</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Style</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Out of the Woods</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>All You Has To Do Was Stay</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Shake it off
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>I Wish You Would</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Bad Blood</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Wildest Dream</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>How You Get the Girl</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>This Love</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>I Know Places</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Clean</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Wonderland</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>You Are In Love</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>New Romantics</ion-label>
        </ion-item>

        </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
