<ion-header>
  <ion-toolbar>
    <ion-title>1989</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/album-cover/5.jpeg">
  <ion-card-content class="ion-text-justify">
    <ion-card-subtitle>Fifth Studio Album</ion-card-subtitle>
    <ion-card-title>1989
      </ion-card-title>
      <p>
        Named after the year she was born, Swift's fifth album 1989 . "My music before this has been very guitar-heavy, live drums, it's had a very acoustic sound at its core," in . "This is a sound that's based in synth pop and keyboards and automated drums and vocal layering." The album , including at the 58th Grammy Awards in 2016. With her fifth studio album, 1989 (2014), she announced her full transition to pop. The synth-pop record made Swift the first female solo artist to win the Grammy Award for Album of the Year twice and amassed three Billboard Hot 100 number-one hits—"Shake It Off", "Blank Space", and "Bad Blood".
      </p>
      <ion-list>
        <ion-list-header >
          <ion-label>
            List of Tracks in Order
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Welcome To New York</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Blank Space</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Style</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Out of the Woods</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>All You Has To Do Was Stay</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Shake it off
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>I Wish You Would</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Bad Blood</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Wildest Dream</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>How You Get the Girl</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>This Love</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>I Know Places</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Clean</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>Wonderland</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>You Are In Love</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/album-cover/5.jpeg"/>
          </ion-avatar>
          <ion-label>New Romantics</ion-label>
        </ion-item>

        </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
