<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
	<ion-toolbar>
    <div class="back-circle"></div>
		<ion-title class="ion-text-center custom-font">BE A SWIFTIE</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
  <path fill="#6b0b7e" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
</svg>
<div class="ion-padding">

  <form [formGroup]="signUpForm" (ngSubmit)="signUpWithEmail()" class="ion-padding">

    <div class="wrap-input">
    <ion-input type="text" name="user-email" formControlName="email" placeholder="Email Address"></ion-input>
    </div>
    <div class="error-container">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="signUpForm.get('email')?.hasError(validation.type) && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>


    <div class="wrap-input">
      <ion-input type="password" name="password" formControlName="password" placeholder="Password"></ion-input>
    </div>
      <div class="error-container">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="signUpForm.get('password')?.hasError(validation.type) && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>

  <div class="container-form-btn">
    <button type="submit" class="form-btn custom-font" [disabled]="!signUpForm.valid">
      Create Account
    </button>
  </div>

  </form>
</div>

<ion-footer class="ion-no-border">
	<ion-toolbar>
		<p class="ion-text-center custom-font">Already have an account? <a [routerLink]="['/login-page']">Sign In</a></p>
	</ion-toolbar>
</ion-footer>

</ion-content>


