
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="gallery" >
        <ion-icon name="image-outline" aria-hidden="true"></ion-icon>
        <ion-label>Gallery</ion-label>
      </ion-tab-button>

     <ion-tab-button tab="songs" >
        <ion-icon name="musical-notes-outline" aria-hidden="true"></ion-icon>
        <ion-label>Music</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about" >
        <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
